<p style="color: green"><%= notice %></p>

<h1>Activities</h1>

<ul class="list-group">
  <div id="activities">
    <% @activities.each do |activity| %>
      <li class="list-group-item"> <%= render activity %> </li>
      <p>
       <%= link_to "Show this activity", activity, class: "btn btn-info" %>
      </p>
    <% end %>
  </div>
</ul>

<%= link_to "New activity", new_activity_path, class: "btn btn-secondary" %>

